body,div,ul,ol,li,h1,h2,p{
	margin:0 0;
	padding:0 0;
}

img {
	border:0;
}

ol,ul {
	list-style:none;
}

h1,h2 {
	font-size:100%;
	font-weight: bold;
	color: #FFFFFF;
}

body {
  background:#000000;
}

html{
	scroll-behavior: smooth;
}

a{
	outline: 0;
	color: #FFFFFF;
	text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}

div.section {
	width: 100%;
	/* max-width: 1900px; */
	height: 1500px;
	position: relative;
	margin: 0 auto;

	background-size: cover;

	color: #FFFFFF;
	text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
	font-size:100%;
	font-weight: bold;
}

div.section h1{
	font-size: 500%;
}

div.section h2{
	font-size: 300%;
}

div.section p{
	font-size: 150%;
	width: 50%;
	line-height: 2;
}

#section0 {
	background: url(./index-pic/1.png) no-repeat 0px 0px;
	background-size: cover;
}

#section1 {
	background: url(./index-pic/2.png) no-repeat 0px 0px;
	background-size: cover;
}

#section2 {
	background: url(./index-pic/3.png) no-repeat 0px 0px;
	background-size: cover;
}

#section3 {
	background: url(./index-pic/4.png) no-repeat 0px 0px;
	background-size: cover;
}

#section4{
	background: url(./index-pic/5.png) no-repeat 0px 0px;
	background-size: cover;
}

ul#topNav {
	position: absolute;
	left: 8%;
	top: 40%;

}
ul#topNav li {
	display: inline;
	margin-right: 40px;
	font-size: 200%;
	line-height: 30px;
}
ul#topNav a {
	text-decoration: none;
}

#section0 h1 {
	position: absolute;
	left: 8%;
	top: 5%;
}
#section0 h2{
	position: absolute;
	left: 10%;
	top: 20%;
}

#section1 h2 {
	position: absolute;
	left: 10%;
	top: 20%;
}
#section1 p {
	position: absolute;
	left: 10%;
	top: 40%;
}

#section2 h2 {
	position: absolute;
	left: 50%;
	top: 20%;
}
#section2 p {
	position: absolute;
	left: 50%;
	top: 40%;
}

#section3 h2 {
	position: absolute;
	left: 10%;
	top: 20%;
}
#section3 p {
	position: absolute;
	left: 10%;
	top: 40%;
}

#section4 h3{
	position: absolute;
	left: 40%;
	top: 5%;
	font-size: 200%;
	color: #FFFFFF;
	text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}
#section4 ul{
	position: absolute;
	left: 30%;
	top: 20%;
	width: 40%;
	font-size: 150%;
}

ul#nav {
	position: fixed;
	left: 20px;
	bottom: 10%;
}
ul#nav li {
/*	display: inline; */
	margin: 0 10px;
	font-size: xx-large;
}
ul#nav li a {
	color: #FFFFFF;
	opacity: 0.6;
	text-decoration: none;
}