*{
	margin:0 0;
	padding:0 0;

	font-size: 62.5%;
}

ul{
	list-style:none;
}

h1, h2, h3, a, p, li, .bp{
	outline: 0;
	color: #FFFFFF;
	text-shadow:
    1px 1px #000,
    -1px 1px #000,
    -1px -1px #000,
    1px -1px #000,
    1px 0px #000,
    0px 1px #000,
    -1px 0px #000,
    0px -1px #000;
}

h1{
	padding: 0 5%;

	font-size: clamp(2.5rem, calc(3rem + 0.625vw), 5.0rem);
}
h2{
	padding: 0 3%;

	font-size: clamp(2.0rem, calc(2rem + 0.625vw), 4.0rem);
}
h3{
	padding: 0 3%;

	font-size: clamp(2.0rem, calc(1.8rem + 0.625vw), 4.0rem);
}
a, .bp, p, li{
	padding: 0 1%;

	font-size: clamp(1.5rem, calc(1.5rem + 0.625vw), 4.0rem);
}

#topNav a{
	text-decoration: none;
}

.section{
	display: flex;
	height: 100vh;
	/* padding: 100%; */
	align-items: center;
  
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.section budoux-ja{
	width: 40vw;
}
#section0{
	background-image: url(./index-pic/1.png);
	
	justify-content: center;
}
#section1{
	background-image: url(./index-pic/2.png);

	justify-content: right;
}
#section2{
	background-image: url(./index-pic/3.png);

	justify-content: left;
}
#section3{
	background-image: url(./index-pic/4.png);

	justify-content: right;
}
#section4{
	background-image: url(./index-pic/5.png);

	justify-content: center;
}